## What is Pandas:
- Powerful Python toolkit.

## Pandas Data Structure:
- `Series`:
  - One dimensional
  - Homogenous Array
- `DataFrame`:
  - Two dimensional
  - Combination of multiple series
- `Panel`:
  - Three dimensional

In [1]:
# Impoorting Pandas
import pandas as pd

In [2]:
# Checking Pandas version
pd.__version__

'2.2.2'

In [3]:
list_s = [1, 2, -3, 6.2, 'data_values']
print (list_s)

[1, 2, -3, 6.2, 'data_values']

### Creating Pandas Series:

In [4]:
series1 = pd.Series(list_s)
print (series1)

0              1
1              2
2             -3
3            6.2
4    data_values
dtype: object

In [5]:
print(type(series1))

<class 'pandas.core.series.Series'>

#### Creating Series with Scalar(Single) value:

In [6]:
series= pd.Series(0.5)
print(series)
print(type(series))

0    0.5
dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
series0= pd.Series(0.5, index =['a','b','c'])
print(series0)
print(type(series0))

a    0.5
b    0.5
c    0.5
dtype: float64
<class 'pandas.core.series.Series'>

#### Creating Series with Tuple

In [8]:
series1 = pd.Series((1,2,3,4))
print(series1)
print(type(series1))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

#### Creating Series with List
- pd.Series , `S` should be capital in Series.

In [9]:
series1 = pd.Series([1,2,3,4])
print(series1)
print(type(series1))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

#### Creating Series witth Dictionary:

In [10]:
dict_s = pd.Series({'name':'Jafri' , 'grade':'A1'})
print(dict_s)
print(type(dict_s))

name     Jafri
grade       A1
dtype: object
<class 'pandas.core.series.Series'>

#### Creating Empty Series:

In [11]:
series_empty = pd.Series([])
print(series_empty)
print(type(series_empty))

Series([], dtype: object)
<class 'pandas.core.series.Series'>

#### Changing Default Index:

In [12]:
series3 = pd.Series([1,2,3,4])
print(series3)

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
 # index value count should be same as series value count otherwise 'Value Error'.
series4 = pd.Series([1,2,3,4], index = (['a','b','c', 'd']))
print(series4)

a    1
b    2
c    3
d    4
dtype: int64

#### Changing Datatype:

In [14]:
series4 = pd.Series ([1,2,3,4], index = ['a','b','c','d'], dtype = float)
print(series4)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

#### Giving Names to Datavalues in Series:

In [15]:
series5 = pd.Series ([1,2,3,4], index = ['a','b','c','d'], dtype = float, name = 'data value' )
print(series5)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data value, dtype: float64